body {
  color: #555;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
}

.Hero {
  align-items: center;
  background: linear-gradient(135deg, #FFF, #39CCD3) #9ED7EC;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}

.Hero-heading {
  font-size: 48px;
  font-weight: 100;
  margin-bottom: 0;
}

.Hero-lead {
  font-size: 18px;
  margin-bottom: 48px;
}

.Button {
  background: none; 
  border-radius: 1000px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 16px 32px 14px;
  text-align: center;
}

.Logo {
  height: 140px;
}

.Section {
  margin: 64px auto;
}

.DisplayText {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.SpeakerList-item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.Speaker {
  display: flex;
}

.Speaker-avatar {
  background: #EFEFEF;
  border-radius: 50%;
  height: 128px;
  width: 128px;
  margin-right: 32px;
}

.Speaker-body {
  flex: 1;
}

.Sponsors {
  background: #EFEFEF;
  padding: 64px;
}

.Sponsors-byline {
  color: #BBB;
  margin-top: 32px;
  text-align: center;
  font-size: smaller;
}

.SponsorList {
  display: flex;
  justify-content: space-between;
}

.SponsorList-item {
  background: gray;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.Wrapper {
  margin: 0 auto;
  max-width: 640px;
}

h3 {
  margin-top: 0;
}
