@import 'bourbon/bourbon';

body {
  color: #555;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
}

.Hero {
  @include align-items(center);
  @include linear-gradient(135deg, #FFF, #39CCD3, #9ED7EC);
  color: white;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  min-height: 80vh;
}

.Hero-heading {
  font-size: 48px;
  font-weight: 100;
  margin-bottom: 0;
}

.Hero-lead {
  font-size: 18px;
  margin-bottom: 48px;
  text-align: center;
}

.Hero-lead-location {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: inherit;
  text-decoration: none;
}

.Button {
  background: none; 
  border-radius: 1000px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 16px 32px 14px;
  text-align: center;
}

.Logo {
  height: 140px;
}

.Section {
  margin: 64px auto;
}

.DisplayText {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.SpeakerList-item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.Speaker {
  @include display(flex);
}

.Speaker-avatar {
  background: #EFEFEF;
  border-radius: 50%;
  height: 128px;
  width: 128px;
  margin-right: 32px;
}

.Speaker-body {
  flex: 1;
}

.Sponsors {
  background: #EFEFEF;
  padding: 64px;
}

.Sponsors-byline {
  color: #BBB;
  margin-top: 32px;
  text-align: center;
  font-size: smaller;
}

.SponsorList {
  @include display(flex);
  @include justify-content(space-between);
}

.SponsorList-item {
  background: gray;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.Wrapper {
  margin: 0 auto;
  max-width: 640px;
}

.Schedule {
  width: 100%;
}

.Schedule td {
  padding: 10px;
  width: 50%;
}

.Schedule td:first-child {
  text-align: right;
}

h3 {
  margin-top: 0;
}

.u-textCenter {
  text-align: center;
}
